.card_style1{
    /* display:flex; */
    background-color: #ffc400;
    padding:10px;
    /* background-color:white; */
    border-radius:20px;
    border:1px solid #ede8e8;
    
}
.card_style{
    /* display:flex; */
    background-color: rgb(20, 175, 72);
    padding:10px;
    /* background-color:white; */
    border-radius:20px;
    border:1px solid #ede8e8;
    
}
.card_style2{
    /* display:flex; */
    background-color: rgb(41, 98, 255);
    padding:10px;
    /* background-color:white; */
    border-radius:20px;
    border:1px solid #ede8e8;
    
}
.card_style3{
    /* display:flex; */
    background-color: #ffc0c0;
    padding:10px;
    /* background-color:white; */
    border-radius:20px;
    border:1px solid #ede8e8;
    
}

.tableResponsive{
    width:'100%';
    border:1px solid #d6d3d3;
    background-color: white;
    border-radius: 10px;
}
.selectorInput{
    height: 100%;
    width: 100%;
}
.selectorInput:hover{
    border: none;
}
.selectorInput:focus{
    border: none;
}

.gfg {
    /* margin: 3%; */
    position: relative;
}

.first-txt {
    position: absolute;
    top: 230px;
    color:white;
    font-size: 18px;
    left: 90px;
}
.third-txt {
    position: absolute;
    top: 260px;
    color:white;
    font-size: 18px;
    left: 90px;
}

.second-txt {
    position: absolute;
    bottom: 40px;
    left: 100px;
    color:white;
    font-size: 11px;
}
@media only screen and (max-width: 600px) {
    .first-txt {
        top: 230px;
        left: 60px;
    }
    .third-txt {
        position: absolute;
        top: 260px;
        color:white;
        font-size: 18px;
        left: 60px;
    }
    
    .second-txt {
        position: absolute;
        bottom: 40px;
        left: 70px;
        color:white;
        font-size: 11px;
    }
    .tableResponsive{
        width:300px;
        overflow-x:auto
    }
}
.iconStyleCard{
    background: #ffc0c0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-size:30px;
    vertical-align: middle; 
    padding: 20px;
}
.iconStyleCard2{
    /* background: rgb(41, 98, 255); */
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    color: white;
    margin-top: 20px;
    font-size:30px;
    vertical-align: middle; 
    /* padding: 20px; */
}

.TextHead{
    font-weight: bolder;
    padding: 10px;
}
